html, body{
  height: 100%;
}

body {
  font-family: "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#side-nav {
  background-color: #000;
  padding-top: 18px;
  width:71px;
  position: absolute;
  top:0;
  bottom: 0;
}

#top-bar {
  text-align: right;
  background-color: #f5f5f5;
  height:40px;
  position: absolute;
  left:71px;
  top:0;
  right:0;
  border-bottom: 1px solid #e5e5e5;
}
#top-bar a {
  color: #de8d4b
}
#top-bar ul {
  list-style: none;
  padding-top: 12px;
  margin-right: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
#top-bar li {
  display: inline;
  padding-left: 6px;
}

#main {
  padding-left:36px;
  padding-top: 18px;
  min-width: 500px;
  position: absolute;
  left:71px;
  top: 40px;
  bottom: 0;
  right:0;
}
#side-nav ul {
  list-style: none;
  padding: 19px;
  margin: 0
}
#side-nav li {
  padding-bottom: 8px;
}

#side-nav a {
  font-size: 2rem;
  color:#555
}
#side-nav a:hover {
  color: #52affb
}

#wrapper {
  min-width: 800px;
  height: 100%;
}
#chapter-nav {
  position: absolute;
  left:0px;
  top:0;
  bottom:0;
  width:180px;
  background-color: #f5f5f5;
  border-right: 1px solid #e5e5e5;
}

#chapter {
  position: absolute;
  left: 220px;
  bottom: 0;
  top: 0;
  overflow-y: scroll;
  width: 1000px;
}

#chapter-nav ul{
  list-style: none;
  padding:0;
}
#chapter-nav li {
  border-top: 1px solid #e5e5e5;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
}
#chapter-nav li:hover {
  background-color: #f5f5f5;
}
#chapter-nav a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
}
#chapter-nav a:hover {
  color: #999900;
}
