div(id = "chapter-nav")
  h4(style = "text-align:center") Chapters
  ul    
    li
      a(href="#", id="Applicant" class="chapter-link") Applicant  
    li
      a(href="#", id="Application" class="chapter-link") Application
    li
      a(href="#", id="Application_Document" class="chapter-link") Application-Document
    li
      a(href="#", id="ApplicationFilter" class="chapter-link") Application-Filter
    li
      a(href="#", id="Companydb" class="chapter-link") Company-DB    
    li
      a(href="#", id="Consent" class="chapter-link") Consent 
    li
      a(href="#", id="EmailService" class="chapter-link") Email-Service      
    li
      a(href="#", id="GeoProfile" class="chapter-link") GeoProfile    
    li
      a(href="#", id="StatusManagement" class="chapter-link") Status-Management 
    li
      a(href="#", id="VerificationEngine" class="chapter-link") Verification-Engine	
    li
      a(href="#", id="Crif_Creditreport" class="chapter-link") Crif-Creditreport	  
    

div(id="chapter")
  p(id="content")
  
script.
  var renderMarkdownPage = function(title){
    var MarkdownPage = require("./lib/markdownpage");
    var page = new MarkdownPage(title);
    $("#title").html(page.title);
    $("#content").html(page.body);
  }
  $(function(){
    renderMarkdownPage("Applicant");
    $(".chapter-link").on("click", function(ev){
      ev.preventDefault();
      var id = this.id;
      renderMarkdownPage(id);
    });
  });
  
